/* ___________ Basic styles ___________ */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
  overflow-x: hidden;
  width: 100vw;
}

/* scrollbar styling */


/* Styling the scrollbar for the entire body */
body::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 2px; /* Height of the horizontal scrollbar (if any) */
}

/* Styling the scrollbar thumb (the part that you drag) */
body::-webkit-scrollbar-thumb {
  background-color: #350561; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Hover effect for the scrollbar thumb */
body::-webkit-scrollbar-thumb:hover {
  background-color: #350561; /* Darker shade when hovering */
}

/* Styling the scrollbar track (the area where the thumb moves) */
 body::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light color for the track */
  border-radius: 4px; /* Rounded corners for the track */
} 

/* Optional: Styling the scrollbar corner (where the horizontal and vertical scrollbars meet) */
body::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}


/* ========= pre-define css ========= */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3a025d;
  font-weight: 600;
  margin-bottom: 0;
}

h3,
h4 {
  font-size: 1.6rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

.section__title {
  color: #3a025d;
  font-weight: 600;
  font-size: 2rem;
}

.section__subtitle {
  color: #d84576;
  font-weight: 600;
  font-size: 1.2rem;
}

.section__description {
  color: #6f869b;
  font-size: 0.9rem;
  line-height: 20px;
}

section {
  padding: 50px 0px;
}

.btn {
  padding: 7px 15px;
  background: #3a025d;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  color: #fff !important;
  background: #3a025d;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 30px 0px;
  }

  .section__title {
    font-size: 1.6rem;
  }

  .section__subtitle {
    font-size: 1.1rem;
  }

}